.nav {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    gap: 20px;
    padding: 30px;
}

.link {
text-decoration: none;
color: rgb(82, 146, 175);
font-family: 'Roboto', sans-serif;
font-size: 22px;
font-weight: 700;
line-height: 25px;
letter-spacing: 0%;
text-align: left;
}