
.about {
  text-align: center;
  margin-top: 30px;
}

.about-wrapper {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.about-wrapper__image {
     width: 530px;
    height: 340px;
    background-color: rgb(82, 146, 175);
}

.about-info {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    margin-left: 15px;
}

.about-info__category,
.about-info__summary {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
}

.about-info__summary-text {
color: rgb(0, 0, 0);
font-family: 'Roboto', sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 25px;
text-align: left;
}

.test {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}