
.product-wrapper {
   display: flex; 
   justify-content: center;
    gap: 20px;
}

.product-box {
    margin-top: 10px;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}

.product-box__img {
    width: 320px;
    height: 240px;
    background-color: rgb(82, 146, 175);
}

.product-box__title {
    margin-top: 10px;
}

.product-box__category {
color: rgb(0, 0, 0);
font-size: 16px;
font-weight: 400;
line-height: 25px;
}

.product-box__button{
padding: 0;
border: none;
font: inherit;
cursor: pointer;
width: auto;
background-color: rgb(82, 146, 175);
color: rgb(255, 255, 255);
font-size: 16px;
font-weight: 400;
line-height: 25px;
padding: 5px;
border-radius: 5px;
}

