.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-text {
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    display: flex;
    text-align: left;
    width: 700px;
}