.blog-title {
text-align: center;
  margin-top: 30px;
}

.blog-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog-main-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 400px;
    gap: 15px;
    border: 1px solid rgb(172, 184, 182);
    padding: 5px;
}

.blog-main__theme {
text-decoration: none;
color: rgb(82, 146, 175);
font-size: 22px;
font-weight: 700;
line-height: 25px;
text-align: left;
}